@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="input-group">
    <input id="userSearchInput" type="text" class="h40 form-control" placeholder="Search users">
    <div id="searchClickFrame" class="input-group-append inputBtnFrame">
        <input type="image" id="searchBtn" class="h40 inputBtn" src="~/Content/Images/search.png" />
    </div>
</div>
<div>
    <button type="button" id="addUserBtn" class="h40 txtWB inputBtnFrame">Add User</button>
</div>
<div id="userList">
</div>

<br style="clear: both;" />

@Scripts.Render("~/bundles/site/index")

