@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="input-group">
    <input id="userSearchInput" type="text" class="h40 form-control" placeholder="Search users">
    <div id="searchClickFrame" class="input-group-append inputBtnFrame">
        <input type="image" id="searchBtn" class="h40 inputBtn" src="~/Content/Images/search.png" />
    </div>
</div>

<!-- Modal toggle button -->
<button type="button" id="addNewUserBtn" class="btn btn-primary" data-toggle="modal" data-target="#addUserForm">
    Add User
</button>

<!-- Modal -->
<div class="modal fade" id="addUserForm" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Add New User</h5>
            </div>
            <div class="modal-body">
                <form id="newUserForm">
                    <div class="form-group">
                        <label for="firstNameInput">First Name</label>
                        <input required type="text" class="form-control" id="firstNameInput" aria-describedby="emailHelp" placeholder="First Name">
                    </div>
                    <div class="form-group">
                        <label for="lastNameInput">Last Name</label>
                        <input required type="text" class="form-control" id="lastNameInput" aria-describedby="emailHelp" placeholder="Last Name">
                    </div>
                    <div class="form-group">
                        <label for="addressInput">Street Address</label>
                        <input required type="text" class="form-control" id="addressInput" aria-describedby="emailHelp" placeholder="Street Address">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-8">
                            <label for="interestsInput">Interests</label>
                            <select required multiple class="form-control" id="interestsInput">
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="ageInput">Age</label>
                            <input required type="text" class="form-control" id="ageInput" maxlength="3" placeholder="Age">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputCity">City</label>
                            <input required type="text" class="form-control" id="inputCity" placeholder="City">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputState">State</label>
                            <select required id="inputState" class="form-control">
                                <option selected>Choose...</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputZip">Zip</label>
                            <input required type="text" class="form-control" id="inputZip" maxlength="5" placeholder="Zip">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="userCancelBtn" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button id="userSubmitBtn" type="submit" onclick="submitNewUserData()" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>

<div id="userList">
</div>

<br style="clear: both;" />

@Scripts.Render("~/bundles/site/index")

