@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="input-group">
    <input type="text" class="h40 form-control" placeholder="Search users">
    <div class="input-group-append inputBtnFrame">
        <input type="image" id="searchBtn" class="h40 inputBtn" src="~/Content/Images/search.png" />
    </div>
</div>

