.main {
    width: 50%;
    margin: 50px auto;
}

.inputBtnFrame {
    background-color: rebeccapurple;
}

.h40 {
    height: 40px;
    border-radius: 0;
}

.inputBtn {
    width: 75%;
    height: 75%;
    margin: auto;
}

#addUserBtn {
    width: 20%;
    color: white;
}

.txtWB {
    color: white;
    font-weight: bold;  
}