.main {
    width: 50%;
    margin: 50px auto;    
}

body {
    background-color: royalblue;
}

.inputBtnFrame {    
    padding: 1%;
}

#titleFrame {
    text-align: center;
    width: 100%;
}

#title {
    color: white;
    font-family: Verdana;
    font-weight: bold;
    font-size: 50px;
}

#searchClickFrame {
    background-color: white;
}

#addNewUserBtn {
    border-radius: 0 5px 5px 0;
    background-color: slategray
}

.container {
    border-radius: 5px;
}

.h40 {
    height: 40px;
    border-radius: 0;
}

.inputBtn {
    margin: auto;
}

.mt5 {
    margin-top: 5%;
}

.mt10 {
    margin-top: 10%;
}

.mt2 {
    margin-top: 2%;
}

#userSearchInput {
    border-radius: 5px 0 0 5px;
    border: 0;
}

.txtWB {
    color: white;
    font-weight: bold;  
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    padding: 10px;
    margin: 2% auto;
}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover {
    opacity: 0.7;
}